<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pc.dao.UserPermissionMapper">

    <!-- 更新用户权限 -->
    <update id="updatePermission">
        UPDATE user_permission
        <set>
            <if test="canPost != null">
                can_post = #{canPost},
            </if>
            <if test="canComment != null">
                can_comment = #{canComment},
            </if>
            <if test="canLike != null">
                can_like = #{canLike},
            </if>
            <if test="canFollow != null">
                can_follow = #{canFollow},
            </if>
            <if test="canMessage != null">
                can_message = #{canMessage},
            </if>
            <if test="canBuy != null">
                can_buy = #{canBuy},
            </if>
            <if test="canSell != null">
                can_sell = #{canSell},
            </if>
            <if test="canRunErrand != null">
                can_run_errand = #{canRunErrand},
            </if>
            update_time = NOW()
        </set>
        WHERE user_id = #{userId}
    </update>

    <!-- 根据用户ID查询权限记录数 -->
    <select id="countByUserId" resultType="int">
        SELECT COUNT(*) FROM user_permission WHERE user_id = #{userId}
    </select>

    <!-- 插入默认权限记录（如果不存在） -->
    <insert id="insertDefaultPermission" parameterType="int">
        INSERT INTO user_permission (user_id, can_post, can_comment, can_like, can_follow, can_message, can_buy, can_sell, can_run_errand)
        VALUES (#{userId}, 1, 1, 1, 1, 1, 1, 1, 1)
        ON DUPLICATE KEY UPDATE user_id = user_id
    </insert>

    <!-- 查询用户是否可以跑腿 -->
    <select id="getCanRunErrand" resultType="Integer">
        SELECT can_run_errand
        FROM user_permission
        WHERE user_id = #{userId}
    </select>
    
    <!-- 根据用户ID查询用户权限 -->
    <select id="selectByUserId" resultType="com.pc.pojo.UserPermission">
        SELECT 
            permission_id as permissionId,
            user_id as userId,
            can_post as canPost,
            can_comment as canComment,
            can_like as canLike,
            can_follow as canFollow,
            can_message as canMessage,
            can_buy as canBuy,
            can_sell as canSell,
            can_run_errand as canRunErrand,
            update_time as updateTime
        FROM user_permission
        WHERE user_id = #{userId}
    </select>

</mapper>


